* {
    margin: 0;
    padding: 0;
    border: 0;
    text-align: center; }

body {
    background-color: rgb(253, 251, 251); }

h1, h2, h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

#cabecalho {
    position: fixed;
    top: 0;    
    width: 100%;
    height: 150px;
    background-color: rgb(44, 172, 44); }   
   

#titulo {
    text-align: center;
    margin-top: 50px; }    

#minha_foto {
    width: 200px;    
    margin-top: 200px; }

.lessons {
    margin-top: 60px; }

 
.lists ol, ul {
    display: inline-block;    
    margin-right: 60px;
    line-height: 30px; }
    
.table {
    border-collapse: collapse;
    width: 20%;    
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px; }

td, th {
    border: 1px solid black;
    text-align: center;
    padding: 8px; }

td a {
    font-size: 20px;
    text-decoration: none;
    color: white; }


#w3schools a {    
    background-color: green; }

#stackoverflow a {    
    background-color: orange; }

#MDN a {    
    background-color: black; }

.lado-esquerdo {    
    float: left;    
    width: 35%;
    margin-left: 10%;
    line-height: 20px; }

.lado-direito {    
    float: right;
    width: 35%;
    margin-right: 10%; 
    line-height: 20px; } 

#rodape {
    clear: both;
    padding: 50px; }